@tailwind base;
@tailwind components;
@tailwind utilities;


:root
{
  --brand_color: #013ca6;
}


html
{
  scroll-behavior: smooth ;
}

.counterSection
{
  background: url('../public/channels4_banner (1).jpg');
  background-position-x: center;
  background-size: cover;
}

.newsLink:hover > img
{
  transform: scale(1.02);
}

